.bg-primary{
    background: #2C8A09 !important;
}
.sidebar-collapse .navbar-collapse{
    background: #000;
}
.sidebar-collapse .navbar-collapse::before{
    background: linear-gradient(#b2a37d,#131313 80%);
}
.brand{
    animation-name: fadeIn;
    animation-duration: 1.1s;
    display: 
}
.brand .h1-seo{
	position: relative;
	top: 2em;
    font-size: 3.6rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .1rem;
}

.brand h3{
	position: relative;
	top: 27em;
    margin: 0;
}

.tag {
	height: 100%;
	width: 100%;
	background: url('fun1.jpg');
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: cover;
}

.tag .section-inner {
	height: 800px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 1px 1px #121214;
	color: #fff
}

.activityFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.activityFlex img {
	width: 400px;
	height: 200px;
	margin: 10px;
	transition: all 1.5s;
}

.activityFlex img:hover {
	transform: scale(1.2);
}

.activityTag {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	font-size: 2em;
	border-bottom: 2px solid #1A1920;
}

.resortTag {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	font-size: 2em;
	border-bottom: 2px solid #1A1920;
}

.resortFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.resortFlex img {
	width: 400px;
	height: 200px;
	margin: 10px;
	transition: all 1.5s;
}

.resortFlex img:hover {
	transform: scale(1.2);
}

.manager {
	background: #567E47;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer{
    background: #131313;
    color: #fff;
}

.copyright {
	border-right: 2em;
}